body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid wheat;
    margin: 0 auto;
}

header h1{
    font-size: 20px;
}